{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center mt-5">
  <h2>Welcome, {{ user.username }} 👋</h2>

  <p class="lead">Use SafeRails to check if a railway track needs maintenance.</p>

  <div class="row justify-content-center mt-5">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title">🔘 Predict Now</h5>
          <p class="card-text">Enter sensor values to get a prediction.</p>
          <a href="" class="btn btn-success w-100">Start Prediction</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title">📈 View Stats</h5>
          <p class="card-text">See analytics from past predictions.</p>
          <a href="" class="btn btn-primary w-100">View Dashboard</a>
        </div>
      </div>
    </div>
  </div>
   <div class="row justify-content-center mt-4">
     <div class="col-md-4 mb-3">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title">📤 Upload Data</h5>
          <p class="card-text">Upload sensor data for batch prediction or training.</p>
          <a href="" class="btn btn-warning w-100">Upload CSV</a>
        </div>
      </div>
    </div>
   </div>
</div>
{% endblock %}


